.header {
  text-align: center;
}
.search {
  text-align: center;
  input {
    display: inline-block;
    width: 30%;
    padding: 5px;
    border: 3px solid red;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    &:hover {
      border: 3px rgb(110, 196, 236) solid;
    }
  }
}
.emoji {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.emojiList {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin: 10px;
  font-size: 30px;
  display: grid;
  place-items: center;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
